PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/test
JWT_SECRET=7a5ff356ef555d604acefd659ea458bce487f6b3630fb44d2172f4763ba6d8d0
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d